<header class="header" id="header">
    <div class="container header__container">
        <div class="header__working">
            <i class="icon-clock"></i>
            <span class="header__working--mobile">24/7</span>
            <span class="header__working--desktop">Работаем для вас 24/7</span>
        </div>
        <div class="header__logo">
            <a href="index.html"><img src="../img/beliydom_logo_1.png" alt="Logo" class="header__logo"></a>
        </div>
        <div class="header__btn-box">
            <div class="header__number">
                <a class="tel" href="tel:+74953745096"><i class="icon-001-telephone"></i>+7 (495) 374-50-96</a>
            </div>
            <div class="header__btn">
               <a href="javascript:void(0)" class="js-modal-open">Заказать звонок</a>
            </div>
        </div>
    </div>
</header>